<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- <script type="text/javascript" src="../static/js/home.js"></script> -->
</head>

<body>
    <div id="top">
        <div id="title">
            <a href="#">title</a>
        </div>
    </div>
    </div>
    <header>

        <div class="header-sel">
            <a href="#">물품 관리</a>
        </div>
        <div class="header-sel">
            <a href="#">대여 현황</a>
        </div>
        <div class="header-sel">
            <a href="#">나의 대여 현황</a>
        </div>

    </header>
    {% block content %}

    {% endblock %}
</body>

</html>